.card{
    min-height: 150px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: block;
    cursor: pointer;
    &__image{
        height: 150px;
        img{
            max-width: 60%;
            position:relative;
            object-fit: cover;
        }
    }
    &__description{
        padding-top: 20px;
        &--price{
            h1{
                margin: 0 20px 0 0;
            }
        }

    }
}