$primary: #FFE600;
$secundary:#3483FA;

$gray:#EEEEEE;
$gray-e:#e2e2e2;
$gray-9:#999999;
$white: #ffffff;
$text: #333333;

$bg-primary: #EEEEEE;


$info: #3483fa;
$success: #39b54a;
$warm: #EDC755;
$danger: #9D1C1C;