@import 'src/assets/sass/abstracts/variables';

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif; 
    font-weight: 500 !important;
}



.text-info{
    color: $info;
}

.text-danger{
    color: $danger;
}

.text-gray{
    color: $gray-9;
}

.label{
    font-size: 11px;
}


.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.fw-900{
    font-weight: 900;
}